## Preprocessing

In [1]:
!pip install tensorflow

Requirement already satisfied: tensorflow in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (2.6.0)
Requirement already satisfied: wrapt~=1.12.1 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: six~=1.15.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (1.15.0)
Requirement already satisfied: clang~=5.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (5.0)
Requirement already satisfied: protobuf>=3.9.2 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (3.18.0)
Requirement already satisfied: termcolor~=1.1.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: tensorflow-estimator~=2.6 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (2.6.0)
Requirement already satisfied: wheel~=0.35 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (0.35.1)
Requirement already satisfied: tensorboard~=2.6 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (2.6.0)
Requirement already satisfied: flatbuffers~=1.12.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (1.12)
Requirement already satisfied: h5py~=3.1.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (3.1.0)
Requirement already satisfied: typing-extensions~=3.7.4 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (3.7.4.3)
Requirement already satisfied: keras-preprocessing~=1.1.2 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: gast==0.4.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (0.4.0)
Requirement already satisfied: keras~=2.6 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (2.6.0)
Requirement already satisfied: google-pasta~=0.2 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: opt-einsum~=3.3.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: astunparse~=1.6.3 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (1.6.3)
Collecting numpy~=1.19.2
  Using cached numpy-1.19.5-cp38-cp38-macosx_10_9_x86_64.whl (15.6 MB)
Requirement already satisfied: absl-py~=0.10 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (0.14.0)
Requirement already satisfied: grpcio<2.0,>=1.37.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (1.40.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorboard~=2.6->tensorflow) (1.35.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorboard~=2.6->tensorflow) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorboard~=2.6->tensorflow) (1.8.0)
Requirement already satisfied: markdown>=2.6.8 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorboard~=2.6->tensorflow) (3.3.4)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorboard~=2.6->tensorflow) (2.24.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorboard~=2.6->tensorflow) (0.6.1)
Requirement already satisfied: setuptools>=41.0.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorboard~=2.6->tensorflow) (50.3.1.post20201107)
Requirement already satisfied: werkzeug>=0.11.15 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorboard~=2.6->tensorflow) (1.0.1)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.6->tensorflow) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.6->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.6->tensorflow) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow) (1.3.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (1.25.11)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard~=2.6->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow) (3.1.1)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.20.2
    Uninstalling numpy-1.20.2:
      Successfully uninstalled numpy-1.20.2
Successfully installed numpy-1.19.5

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np
import h5py

#  Import and read the charity_data.csv.
# one dot means stay
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(['EIN','NAME'], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app_count=application_df['APPLICATION_TYPE'].value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
list(app_count[app_count<200].index)

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=list(app_count[app_count<200].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_count=application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4200        1
C1820        1
C1570        1
C3700        1
C1248        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=list(classification_count[classification_count<50].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: CLASSIFICATION, dtype: int64

In [11]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [12]:
# Convert categorical data to numeric with `pd.get_dummies` for non-numerical columns only
dummies_df=pd.get_dummies(application_df,columns=['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS'])

dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays
y=dummies_df['IS_SUCCESSFUL']
x=dummies_df.drop(['IS_SUCCESSFUL'], axis=1)



# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(x,y, random_state=1)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
len(X_train.columns)

53

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=5, activation="relu", input_dim=len(X_train.columns)))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=5, activation="relu", input_dim=20))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=5, activation="relu", input_dim=2))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 5)                 270
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 30
_________________________________________________________________
dense_2 (Dense)              (None, 5)                 30
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 6
=================================================================
Total params: 336
Trainable params: 336
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=90)

Epoch 1/90
804/804 [==============================] - 2s 2ms/step - loss: 0.6259 - accuracy: 0.6856
Epoch 2/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5728 - accuracy: 0.7219
Epoch 3/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5620 - accuracy: 0.7282: 0s - loss: 0.5628 - ac
Epoch 4/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5590 - accuracy: 0.7296
Epoch 5/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5570 - accuracy: 0.7302
Epoch 6/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5561 - accuracy: 0.7304
Epoch 7/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7307
Epoch 8/90
804/804 [==============================] - 2s 3ms/step - loss: 0.5538 - accuracy: 0.7299
Epoch 9/90
804/804 [==============================] - 2s 3ms/step - loss: 0.5528 - accuracy: 0.7306
Epoch 10/90
804/804 [==============================] - 2s 3ms/step - loss: 0.5525 - accuracy: 0.7308
Epoch 11/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5515 - accuracy: 0.7299
Epoch 12/90
804/804 [==============================] - 4s 5ms/step - loss: 0.5509 - accuracy: 0.7305
Epoch 13/90
804/804 [==============================] - 4s 6ms/step - loss: 0.5505 - accuracy: 0.7290
Epoch 14/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7310
Epoch 15/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5495 - accuracy: 0.7316
Epoch 16/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7304
Epoch 17/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7311
Epoch 18/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7306
Epoch 19/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7310
Epoch 20/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7306
Epoch 21/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7308
Epoch 22/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7296
Epoch 23/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7320
Epoch 24/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7302
Epoch 25/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7310
Epoch 26/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7317
Epoch 27/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7324
Epoch 28/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7312
Epoch 29/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7317
Epoch 30/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7316
Epoch 31/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7313
Epoch 32/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7308
Epoch 33/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7312
Epoch 34/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7323
Epoch 35/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7317
Epoch 36/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7322
Epoch 37/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7338
Epoch 38/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7330
Epoch 39/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7339
Epoch 40/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7337
Epoch 41/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7317
Epoch 42/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7327
Epoch 43/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7341
Epoch 44/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7332
Epoch 45/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7337
Epoch 46/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7334
Epoch 47/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7333
Epoch 48/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7320
Epoch 49/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7332
Epoch 50/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7329
Epoch 51/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7334
Epoch 52/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7339
Epoch 53/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7336
Epoch 54/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7337
Epoch 55/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7329
Epoch 56/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7327
Epoch 57/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7330
Epoch 58/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7341
Epoch 59/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7340
Epoch 60/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7336
Epoch 61/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7339
Epoch 62/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7334
Epoch 63/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7339
Epoch 64/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7329
Epoch 65/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7345
Epoch 66/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7339
Epoch 67/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7332
Epoch 68/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7346
Epoch 69/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7336
Epoch 70/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7352
Epoch 71/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7337
Epoch 72/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7340
Epoch 73/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7342
Epoch 74/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7341
Epoch 75/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7346
Epoch 76/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7342
Epoch 77/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7347
Epoch 78/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7338: 0s - loss: 0.5415 - accu
Epoch 79/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7340
Epoch 80/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7338
Epoch 81/90

804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7344
Epoch 82/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7349
Epoch 83/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7339
Epoch 84/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7347
Epoch 85/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7343
Epoch 86/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7349
Epoch 87/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7343
Epoch 88/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7334
Epoch 89/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7335
Epoch 90/90
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7346

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5519 - accuracy: 0.7276
Loss: 0.5518655180931091, Accuracy: 0.727580189704895

In [22]:
# Export our model to HDF5 file
nn_model.save('my_model_attempt2.h5')